<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>requestStallTimeout</key>
	<integer>3</integer>
	<key>prettyPrintJSON</key>
	<true/>
	<key>server</key>
	<string>https://www.shisoft.net/ajax</string>
	<key>showDeveloperMenu</key>
	<false/>
	<key>loadBatchSize</key>
	<integer>25</integer>
	<key>historyBatchSize</key>
	<integer>25</integer>
	<key>pullFrequency</key>
	<integer>5</integer>
	<key>saveUsername</key>
	<true/>
</dict>
</plist>
